#p3 {
	color: yellow;
}

* {
	font-family: Sans-serif;
}

h1 {
	font-size: 35px;
}

#he2 {
	text-transform: uppercase;
}

.langlist {
	background-color: lightgreen;
}

li[onautocomplete] {
	border-style: groove;
	border-color: lightblue;
}

img + ul {
	list-style: none;
}

#sec1 img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;
}

section > ul > li {
	letter-spacing: 10px ;
}